.container {
    margin: 5.208vw auto 0 auto;
    width: 72.500vw;
    display: flex;
    justify-content: space-between;
}

.containerLeft {
    width: 30.729vw;
    height:21.146vw;
    margin: 5.469vw 6.979vw 5.469vw 0;
}

.container .containerLeft span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.781vw;
    line-height: 0.938vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.156vw;
    text-transform: uppercase;
    color: #7780A1;
}

.container .containerLeft h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 3.333vw;
    line-height: 100%;
    letter-spacing:0.010vw;
    color: #FFFFFF;
    margin: 0.833vw 0 1.667vw 0;
}

.container .containerLeft p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 1.250vw;
    letter-spacing:0.010vw;
    color: #7780A1;
    width:23.906vw
}

.containerLeftButtons {
    margin-top: 2.500vw;
    width: 15.729vw;
    display: flex;
    justify-content: space-between;
}

.containerRight {
    width: 35.625vw;
    height: 32.083vw;
}

.containerRight img {
   width: 35.625vw;
   height: 32.083vw;
}
