.container .swiper {
    display: flex;
    align-items: center;
    width: 121.667vw;
    /*  height: 39.948vw;*/
    margin-left: -11.593vw;
}

.swiper {
    color: black;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 7vw 0 10vw;
}

.navigation img{
    width: 0.375vw;
    height: 0.833vw;
}

.nextButton {
    background: rgba(38, 40, 64, 0.8);
    box-shadow: 0px 1.302vw 3.906vw rgba(6, 7, 20, 0.1);
    backdrop-filter: blur(3.5px);
    /* Note: backdrop-filter has minimal browser support */
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    margin-top: -26.513vw;
}

.previousButton {
    background: rgba(38, 40, 64, 0.8);
    box-shadow: 0px 1.302vw 3.906vw rgba(6, 7, 20, 0.1);
    backdrop-filter: blur(3.5px);
    /* Note: backdrop-filter has minimal browser support */
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    margin-top: -26.513vw;
}

.nextButton:hover {
    backdrop-filter: blur(15.5px);

}

.previousButton:hover {
    backdrop-filter: blur(15.5px);
}