.container .swiper {
    display: flex;
    align-items: center;
    width: 121.667vw;
    margin-left: -12vw;
}

.swiper {
    color: black;
}

.navigation {
    position: absolute;
    display: flex;
    width: 121.667vw;
    justify-content: flex-start;
    margin: -26.513vw 0 26.513vw 0;
}


.navigation img{
    width: 0.375vw;
    height: 0.833vw;
}

.nextButton {
    background: rgba(38, 40, 64, 0.8);
    box-shadow: 0px 1.302vw 3.906vw rgba(6, 7, 20, 0.1);
    backdrop-filter: blur(3.5px);
    /* Note: backdrop-filter has minimal browser support */
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 9.5vw;
    z-index: 2;
}

.previousButton {
    background: rgba(38, 40, 64, 0.8);
    box-shadow: 0px 1.302vw 3.906vw rgba(6, 7, 20, 0.1);
    backdrop-filter: blur(3.5px);
    /* Note: backdrop-filter has minimal browser support */
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 66.9vw;
    z-index: 2;
}

.nextButton:hover {
    backdrop-filter: blur(15.5px);

}

.previousButton:hover {
    backdrop-filter: blur(15.5px);
}

@media only screen and (max-width: 1701px) {

    .previousButton {
        margin-left: 67.5vw;
    }
}

@media only screen and (max-width: 1401px) {

    .previousButton {
        margin-left: 68.0vw;
    }

}

@media only screen and (max-width: 1201px) {

    .previousButton {
        margin-left: 68.5vw;
    }

}

@media only screen and (max-width: 1001px) {

    .previousButton {
        margin-left: 69.2vw;
    }

}

@media only screen and (max-width: 801px) {

    .previousButton {
        margin-left: 70.2vw;
    }

}


@media only screen and (max-width: 701px) {

    .previousButton {
        margin-left: 70.8vw;
    }

}

@media only screen and (max-width: 601px) {

    .previousButton {
        margin-left: 72.8vw;
    }

}