.container {
    background-image: url("/images/Background.png");
    /*     background-position-y: 28px; */
    background-position: center;
    background-position-y: -8px;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBar {
    padding: 0 2.510460vw 0 2.03974vw;
    height: 6.119246vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topBar .topBarLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topBar .topBarLogo img{
    width:  11.140vw;
}

.container .topBar .topBarMenu {
    display: flex;
    width: 27.353vw;
    justify-content: space-between;

}

.topBar .topBarMenuLink {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size:  0.8368vw;
    line-height: 1.0460vw;
    letter-spacing: 0.2px;
    color: #7780A1;
}

.topBar .topBarMenuLink:hover {
    color: #FFFFFF;
}

.topBar .topBarButtonRight {
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 43.77vw;
    margin: 10.09vw auto 0 auto;
}

.text .textTitleBefore {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.78vw;
    line-height: 0.94px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #7780A1;
    margin-bottom:  1.778vw;
}

.text .textTitleAfter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.255vw;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-align: center;
    color: #7780A1;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.458vw;
    width: 43.59vw;
}

.frameTop {
    display: flex;
}

.frameTopIcon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.frame .frameTopIcon img{
    width: 2.092vw;
    height: 4.7594vw;
}

.frame .frameBottomIcon img{
    height: 3.2426vw;

}

.frame .frameTop {
    align-self: flex-start;
}

.frame .frameBottom {
    align-self: flex-end;
}

.text .frame .frameTop .frameTopText {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 100%;
    text-align: left;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.text .frame .frameBottom .frameBottomText {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.frameBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -10px;
}

.frameBottomIcon {
    margin: 28px 19px 0 0;
}


.squares {
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares img {
    width: 100%;
    margin: -19.87vw 0 0 -4.02vw;
}

.logotypes {
    width: 34.896vw;
    margin: 5.469vw auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.427vw;
}

.logotypes img{
    width: 4.427vw;
    height: 2.344vw;
}