.container {
    background-image: url("/images/Background.png");
    background-position-y: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    height: fit-content;
}

.topBar {
    padding-left: 48px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBar .topBarLogo {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.topBar .topBarMenuLink {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-right: 64px;
    color: #7780A1
}

.topBar .topBarMenuLink:hover {
    color: #FFFFFF;
}

.topBar .topBarButtonRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 39px;
    width: 100px;
}

.text {
    margin-top: 205px;
}

.text .textTitleBefore {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #7780A1;
    margin-top: 183px;
}

.text {
    height: fit-content;
}

.text .textTitleAfter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-align: center;
    color: #7780A1;
    margin-top: -10px;
}

.frame {
    width: 837px;
    height: fit-content;
    margin: 34px auto 47px auto;
}

.text .frame .frameTop .frameTopText {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 100%;
    text-align: left;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.text .frame .frameBottom .frameBottomText {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.frameTop {
    display: flex;
}

.frameTopIcon {
    margin: 17px 0 0 8px;
}

.frameBottomIcon {
    margin: 28px 19px 0 0;
}

.frameBottom {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -10px;
}

.squares {
    width: 100%;
    margin-top: -18.5%;
    margin-left: -10px;
}

.squares img {
    width: 100%;
}

.logotypes {
    width: 670px;
    margin: 105px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}

@media only screen and (max-width: 1300px) {
    .topBar .topBarMenuLink {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-right: 44px;
        color: #7780A1
    }

}

@media only screen and (max-width: 1024px) {
    .text {
        margin-top: 0;
    }

    .frame {
        width: 517px;
        height: 187px;
        margin: 34px auto 47px auto;
    }

    .frameTopIcon img {
        height: 61px;
        margin: -5px 0 0 -5px;
    }

    .frameBottomIcon img {
        width: 52px;
        height: 52px;
        margin: -28px -12px 0 0;
    }

    .text .frame .frameTop .frameTopText {
        font-weight: 600;
        font-size: 80px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .text .frame .frameBottom .frameBottomText {
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
    }

    .topBar .topBarMenuLink {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-right: 24px;
        color: #7780A1
    }

}

@media only screen and (max-width: 900px) {

    .frame {
        width: 460px;
        height: 157px;
        margin: 34px auto 47px auto;
    }

    .frameTopIcon img {
        height: 51px;
        margin: -5px 0 0 -5px;
    }

    .frameBottomIcon img {
        width: 40px;
        height: 40px;
        margin: -15px -12px 0 0;
    }

    .text .frame .frameTop .frameTopText {
        font-weight: 600;
        font-size: 70px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .text .frame .frameBottom .frameBottomText {
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
    }

    .logotypes {
        width: 450px;
        margin: 105px auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 200px;

    }

    .topBar .topBarMenuLink {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    .frame {
        width: 350px;
        height: 107px;
        margin: 34px auto 47px auto;
    }

    .frameTopIcon img {
        height: 45px;
        margin: -13px 0 0 -5px;
    }

    .frameBottomIcon img {
        width: 30px;
        height: 30px;
        margin: -15px -12px 0 0;
    }

    .text .frame .frameTop .frameTopText {
        font-weight: 600;
        font-size: 52px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .text .frame .frameBottom .frameBottomText {
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
    }

    .logotypes {
        width: 450px;
        margin: 105px auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 200px;

    }
}

@media only screen and (max-width: 577px) {
    .topBar .topBarButtonRight {
        display: none;
    }
}