.container {
    box-sizing: border-box;
    border: 1px solid #262840;
    border-radius: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 24px;
    width: 100%;
}

.container img {
    flex: 1;
    border-radius: 20px;
    width: 100%;
}

.infoTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: 24px;
}

.infoTop .infoTopH6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    height: 50px;
    color: #FFFFFF;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 100px;
    height: 36px;
    background: rgba(81, 76, 255, 0.15);
    border-radius: 4px;
    margin-left: 32px;
    align-self: start;

}

.price h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #514CFF;
    width: max-content;
    font-weight: inherit;
    line-height: inherit;
}

.infoBottom {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
}

.infoBottom .infoBottomTimeLeft {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.infoBottomIcon img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.line {
    margin-top: 28px;
    border: 1px solid #262840;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}

.footerLeft {
    display: flex;
    margin-left: -5px;
}

.footerLeft img {
    border: 5px solid transparent;
}

.footerCenter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #7780A1;
}

.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerRight .footerRightText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #7780A1;
}

.footerRight img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

@media only screen and (max-width: 1650px) {
    .container {
        padding: 18px;
    }
    
    .infoTop {
        height: 50px;
        margin-top: 20px;
    }

    .infoTop .infoTopH6 {
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
    }
    .price {
        padding: 6px 8px;
        gap: 8px;
        width: 80px;
        height: 30px;
        background: rgba(81, 76, 255, 0.15);
        border-radius: 4px;
        margin-left: auto;
        align-self: start;
    }
    .price h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #514CFF;
        width: max-content;
        font-weight: inherit;
        line-height: inherit;
    }
    .footerCenter {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.2px;
        color: #7780A1;
    }
    .footerLeft img {
        height: 40px;
        width: 40px;
    }
    .footerRight img {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        padding: 10px;
    }

    .price {
        padding: 4px 8px;
        gap: 5px;
        width: 80px;
        height: 28px;
        background: rgba(81, 76, 255, 0.15);
        border-radius: 4px;
        margin-left: 16px;
    }

    .price h6 {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #514CFF;
        width: max-content;
        font-weight: inherit;
        line-height: inherit;
    }

    .infoTop {
        height: 50px;
        margin-top: 16px;
    }

    .infoTop .infoTopH6 {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .footerLeft {
        display: flex;
        flex-direction: row;
        width: 20%;
        margin-right: 16px;
    }
    
    .footerLeft img {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .footerLeft{
        display: none;
    }

}