.container {
    box-sizing: border-box;
    width: 23.333vw;
/*  height: 39.948vw;*/
    border: 1px solid #262840;
    border-radius: 1.042vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.042vw;
    flex-grow: 0;
}

.container img {
    border-radius: 1.042vw;
    width: 20.833vw;
    height: 27.083vw;
}

.infoTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.604vw;
    margin-top: 1.25vw;
}

.infoTop .infoTopH6 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 1.302vw;
    letter-spacing: 0.2px;
    height: 2.604vw;
    color: #FFFFFF;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.417vw 0.625vw;
    gap: 0.521vw;
    width: 5.21vw;
    height: 1.875vw;
    background: rgba(81, 76, 255, 0.15);
    border-radius: 0.208vw;
    margin-left: 1.667vw;
    align-self: start;

}

.price h6 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    text-align: center;
    letter-spacing: 0.2px;
    color: #514CFF;
    width: max-content;
    font-weight: inherit;
    line-height: inherit;
}

.infoBottom {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 1.25vw;
}

.infoBottom .infoBottomTimeLeft {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.infoBottomIcon img {
    height: 1.042vw;
    width: 1.042vw;
}

.line {
    margin-top: 1.458vw;
    border: 1px solid #262840;
}

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25vw;
}

.footerLeft {
    gap: 0.833vw;
}

.footerLeft img {
    width: 2.079vw;
    height: 2.079vw;
}

.footerCenter {
    flex: 1;
    width: 7.76vw;
    height: 1.094vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #7780A1;
    margin-left: 0.738vw;
}

.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 0.417vw;
    width: 2.76vw;
    height: 1.094vw;
}

.footerRight .footerRightText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #7780A1;
}

.footerRight img {
    width: 1.042vw;
    height: 1.042vw;
    margin-right: 0.117vw;
}