.container {
    width: 72.500vw;
    height: 20.677vw;
    margin: 9.531vw auto 6.250vw auto;
    display: flex;
    justify-content: center;
}

.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.500vw 0 2.240vw 2.500vw;
    border: 1px solid #262840;
    border-radius: 1.042vw 0px 0px 1.042vw;
    width: 24.219vw;
    height: 20.677vw;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.500vw 0 2.240vw 2.500vw;
    border: 1px solid #262840;
    border-radius: 1.042vw 0px 0px 1.042vw;
    width: 24.219vw;
    height: 20.677vw;
}

.containerLeft .containerLeftIcon img {
    width: 11.094vw;
    height: 1.771vw;
}

.container .containerLeft .containerLeftLinks {
    width: 15.313vw;
    display: flex;
    justify-content: space-between;
}

.container .containerLeft .containerLeftLinks a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01vw;
    color: #7780A1;
}

.containerCenter {
    padding: 2.500vw 0 2.240vw 2.500vw;
    border-top: 1px solid #262840;
    border-bottom: 1px solid #262840;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 24.167vw;
    height: 20.677vw;
}

.container .containerCenter .footerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 6.667vw;
    width: 5.156vw;
    margin-bottom: 2.083vw;
}

.container .containerCenter .footerMenu a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 1.042vw;
    text-align: center;
    letter-spacing: 0.01vw;
    color: #7780A1;
}

.container .containerCenter .footerMenu a:hover {
    color: #fff;
}

.container .containerCenter .containerCenterButton {
    margin-bottom: 3.594vw;
}

.container .containerCenter .social {
    width: 10.417vw;
    display: flex;
    justify-content: space-between;
}

.container .containerCenter .social img {
    width: 1.042vw;
    height: 1.042vw;
}

.container .containerCenter .social img:hover {
    transform: scale(1.125);
    transition: all 0.45s;
}

.containerRight {
    padding: 2.500vw 2.604vw 2.083vw 2.500vw;
    border: 1px solid #262840;
    border-radius: 0px 1.042vw 1.042vw 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerRight .p {
    width: 19.115vw;
    height: 3.750vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 150%;
    letter-spacing: 0.01vw;
    color: #7780A1;
    opacity: 0.72;
}

.container .containerLeft .containerLeftLinks a:hover {
    color: #FFFFFF;
}