.container {}

.latestAuctions {}

.latestAuctions h4 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 72px;
}

.latestAuctions .itens {
  width: 120%;
  margin-left: -10%;
}

.line {
  border: 1px solid #262840;
  margin: 100px auto 148px auto;
  width: 71%;
}

.containerSectionWithIcon{
  width: 49%;
  height: fit-content;
  margin: 0 auto 183px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}