.container {}

.latestAuctions {}

.latestAuctions h4 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.344vw  ;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 3.75vw;
}

.line {
  border: 1px solid #262840;
  margin: 5.208vw auto 7.708vw auto;
  width: 72.5vw;
}

.containerSectionWithIcon{
  width: 49%;
  height: fit-content;
  margin: 0 auto 183px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}