.container {}

.latestAuctions {
  margin: 0 auto 100px auto;
  width: 75%;
  height: 884px;
}

.latestAuctions h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 72px;
}

.footer {
  background-color: green;
}


@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}