.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 1.2552vw;
    border-radius: 0.6276150627615062vw;
    border: 2px solid;
    height:  2.719665vw;
}
.container .label{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8368vw;
    line-height: 1.0460251vw;
    letter-spacing: 0.2px;
}

.container:hover {
    color: #a6b3e2 !important;
    border-color: #a6b3e2;
    transform: scale(1.025);
    transition: all 0.45s;
}